# Специфично для PyCharm (настройки IDE)
.idea/

# Специфично для Python (кэш и временные файлы)
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (самое важное, чтобы не грузить лишние ГБ)
venv/
env/
.venv/

# Файлы окружения с секретами (токены, пароли)
.env